/* newStyles */
/* Tipos de letra que ocuparemos */
$typo_Regular: "Josefin Sans", sans-serif;
$typo_Serifa: "Merriweather", serif;

/* Reseteamos los margenes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// header {
// }
